@model MovieApp.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>
@using (Html.BeginForm("Save", "Customer"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.Customers.FullName)
        @Html.TextBoxFor(m => m.Customers.FullName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customers.FullName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customers.Email)
        @Html.TextBoxFor(m => m.Customers.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customers.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customers.Birthdate)
        @Html.TextBoxFor(m => m.Customers.Birthdate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customers.Birthdate)
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customers.IsSubcribedToNewsletter) Subscribed to Upnoid newsletter?
        </label>
    </div>
    @Html.HiddenFor(m => m.Customers.ID)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
